.button {
  background-color: white;
  color: var(--hover);
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  margin: 10px;
  /* font-size: 1.15rem; */
  font-size: clamp(0.9rem, 4vw, 1.2rem);
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: var(--hover);
  color: white;
  transition: 0.3s ease;
}
