:root {
  /* Dark Theme Colors */
  --primary: orange;
  --hover: rgb(167, 89, 0);
  --transition: 0.15s ease;
}

nav {
  backdrop-filter: blur(20px);
  border-bottom: 3px solid var(--primary);
  color: var(--primary);
  font-weight: bold;
  word-spacing: 1rem;
  display: flex;
  /* justify-content: space-between !important; */
  padding: 30px 40px;
  align-items: center;
  display: flex;
  justify-content: space-between;

  position: relative;
}

.brand {
  font-size: 1.5rem;
  display: flex;
  gap: 8px;
}

.links a {
  font-size: 1.2rem;
  padding: 10px 20px;
}

.links a:hover {
  color: var(--hover);
  transition: var(--transition);
}

.nav-toggle {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .links {
    display: none;
  }
  .nav-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 32px;
    height: 22px;
    cursor: pointer;
    z-index: 1001;
    position: absolute;
    right: 1.5rem;
  }
  .nav-toggle span {
    color: var(--primary);
    display: block;
    width: 100%;
    height: 3px;
    background: var(--primary);
    border-radius: 3px;
    transition: all var(--transition);
  }
}
